<div class="card">
  <h2>Trabalho feito por - Ihan José, Gabrielle Rodrigues e Mayã Noêmia.</h2>
  <p>

desenvolvida para auxiliar no gerenciamento de fardamentos de uma instituição. Nesta primeira versão, o foco está na implementação da estrutura do sistema utilizando Node.js, Express, Sequelize, MySQL e Handlebars,com banco de dados relacional.

temos 3 cruds principais: Categoria Fardamento Movimentações/Gerenciamento</p>
</div>