<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <title>Sistema de Fardamentos</title>
  </head>
  <body>

    <nav>
      <a href="/">Início</a>
      <a href="/categorias">Categorias</a>
      <a href="/fardamentos">Fardamentos</a>
      <a href="/movimentacoes">Movimentações</a>
    </nav>

    <hr />

    {{{body}}}

  </body>
</html>