<html lang="pt-br">

  <head>

    <meta charset="UTF-8" />

    <title>Sistema de Fardamentos</title>

  </head>

  <body>

    <header>

      <h1>Sistema de Controle de Fardamentos</h1>

      <hr />

      <nav>

        <a href="/">Início</a>
        |

        <a href="/categorias">Categorias</a>
        |

        <a href="/fardamentos">Fardamentos</a>
        |

        <a href="/movimentacoes">Movimentações</a>
        |

        <a href="/usuarios">Usuários</a>

      </nav>

      <hr />

    </header>

    {{{body}}}

  </body>

</html>