<h2>Nova Categoria</h2>

<form action="/categorias" method="POST">

  <label>

    Nome

  </label>

  <br />

  <input type="text" name="nome" required />

  <br /><br />

  <label>

    Descrição

  </label>

  <br />

  <input type="text" name="descricao" />

  <br /><br />

  <label>

    Categoria ativa?

  </label>

  <br />

  <select name="ativa">

    <option value="true">

      Sim

    </option>

    <option value="false">

      Não

    </option>

  </select>

  <br /><br />

  <button>

    Cadastrar

  </button>

</form>

<br />

<a href="/categorias">

  Voltar

</a>