<h1>Categorias</h1>

<a href="/categorias/nova">Nova Categoria</a>

<br /><br />

<table border="1">
  <tr>
    <th>ID</th>
    <th>Nome</th>
    <th>Ações</th>
  </tr>

  {{#each categorias}}
    <tr>
      <td>{{this.id}}</td>
      <td>{{this.nome}}</td>
      <td>
        <a href="/categorias/{{this.id}}/editar">Editar</a>
        <form
          action="/categorias/{{this.id}}/excluir"
          method="POST"
          style="display:inline;"
        >
          <button type="submit">Excluir</button>
        </form>
      </td>
    </tr>
  {{/each}}
</table>