<h1>Categorias</h1>
<a href="/categorias/nova">Nova Categoria</a>
<br /><br />
<p>Lista de categorias cadastradas.</p>
<ul>
  {{#each categorias}}
    <li>
      {{this.nome}}
      <a href="/categorias/{{this.id}}/editar">Editar</a>
      <form
        action="/categorias/{{this.id}}/excluir"
        method="POST"
        style="display:inline;"
      >
        <button type="submit">Excluir</button>
      </form>
    </li>
  {{/each}}
</ul>